{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/alerts/">Alerts</a></li>
{% endblock %}

{% block content %}
    <div class="row padding-bottom-sm">
        <div class="col-md-3">
            <a href="/alerts/add/" class="btn btn-primary">Add Alert</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-hover table-fixed">

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
