{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <div class="health-container">
                        {% for item in items %}
                            <a href="{% if link_base %}/reports/{{ link_base }}/{{ item.id }}{% else %}#{% endif %}" class="health-item btn btn-{{ item.css_class }}">
                                <strong>{{ item.name }}</strong>
                                <br>
                                {{ item.display }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style media="screen">
        .health-item {
            width: 200px;
            height: 55px;
            border: 1px grey;
            margin: 5px;
        }
        .health-container {
            padding: 5px;
            text-align: center;
        }
    </style>
{% endblock %}
