{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/host-groups/">Host Groups</a></li>
{% endblock %}

{% block content %}
    <div class="row padding-bottom-sm">
        <div class="col-md-3">
            <a href="/host-groups/add/" class="btn btn-primary">Add Host Group</a>
        </div>
    </div>

    <div class="well">
        {% for host_group in host_groups %}
            <p>{{host_group.name}}, {{host_group.member_hosts|count}}</p>
        {% endfor %}
    </div>
{% endblock %}
