{% extends "base.html" %}

{% if schedule is not defined %}
    {% set schedule = None %}
{% endif %}

{% block breadcrumbs %}
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/scheduling/">Scheduling</a></li>
    {% if method == "add" %}
        <li><a href="/scheduling/add/">Add Scheduling</a></li>
    {% elif method == "edit" %}
        <li><a href="/scheduling/edit/{{ schedule.id }}/">Edit Schedule</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border"><h3 class="box-title">
                    {% if method == "add" %}
                        Add Schedule
                    {% elif method == "edit" %}
                        Edit Schedule
                    {% endif %}
                    </h3></div>
                <div class="box-body">
                    <form class="form-horizontal auto-post" method="POST" action="/api/scheduling/{{ method }}/">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="name" value="{{ schedule.name }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Description</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="description" value="{{ schedule.description }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script id="interval-template" type="text/x-handlebars-template">
                            {% include "blocks/schedule-interval-row.html" %}
                        </script>

                        <div class="row col-md-offset-2">
                            <div class="col-md-12">
                                <table class="table table-striped" id="interval-table">
                                    <tbody>
                                    </tbody>                                   
                                    <tfoot>
                                        {% for interval in schedule_intervals %}
                                            {% include "blocks/schedule-interval-row.html" %}
                                        {% endfor %}
                                        <tr>
                                            <td></td>
                                            <td><button class="btn btn-success" id="btn-add-interval">Add Interval</button></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row col-md-offset-2 padding-bottom-md">
                            <div class="col-md-12">
                                <label>Execute the following checks</label>
                                <div id="hosts-list">
                                    <input type="text" class="form-control auto-filter" data-table-id="checks-table" placeholder="Search">
                                    <div class="scroll-area">
                                        <table class="table table-striped" id="checks-table">
                                            <tbody>
                                                {% for check in checks %}
                                                    <tr>
                                                        <td><input type="checkbox" name="checks[]" value="{{ check.id }}" {% if check.id in member_check_ids %}checked{% endif %}></td>
                                                        <td class="filter-text">{{ check.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-2">
                                {% if method == "add" %}
                                    <button class="btn btn-primary">Add Schedule</button>
                                {% elif method == "edit" %}
                                    <input type="hidden" name="schedule-id" value="{{ schedule.id }}">
                                    <button class="btn btn-primary">Save Schedule</button>
                                {% endif %}
                                <a href="/scheduling/" class="btn btn-default">Back...</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static", filename="assets/js/scheduling-form.js") }}"></script>
{% endblock %}