.padding-bottom-sm {
    padding-bottom: 10px;
}

.padding-bottom-md {
    padding-bottom: 20px;
}

.inline {
    display: inline;
}

.scroll-area {
    height: 250px;
    overflow-y: auto;
}

.tooltip-inner {
    white-space: pre-wrap !important;
}

.interval-unit-select-container {
    width: 120px;
    padding: 0;
    border: none;
}

.CodeMirror {
    border: 1px solid #dddddd;
}
