{% extends "base.html" %}

{% block breadcrumbs %}
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/alerts/">Alerts</a></li>
{% endblock %}

{% block content %}
    <div class="row padding-bottom-sm">
        <div class="col-md-3">
            <a href="/alerts/add/" class="btn btn-primary">Add Alert</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-hover table-fixed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Entity Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alert in alerts %}
                                <tr>
                                    <td>{{ alert.name }}</td>
                                    <td>{{ alert.type }}</td>
                                    <td>
                                        <a href="/alerts/edit/{{ alert.id }}/" class="btn btn-info">Edit</a>
                                        <form class="auto-post inline" method="POST" action="/api/alerts/delete/" data-auto-post-confirmation="Are you sure you want to delete this alert and all associated data?  This action cannnot be undone!" data-auto-post-remove-closest="tr">
                                            <input type="hidden" name="alert-id" value="{{ alert.id }}">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                        <form class="auto-post inline" method="POST" action="/api/alerts/test/" data-auto-post-confirmation="This will send a test message using the settings for this alert.  Do you want to continue?">
                                            <input type="hidden" name="alert-id" value="{{ alert.id }}">
                                            <button class="btn btn-warning" title="Send a test message using this alert">Test</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
