{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    {% for dependency in service.service_dependencies %}
                        <div class="col-md-4 service-dependency" data-dependency-type="dependency">
                            <div class="service-dependency-inner">
                                <div class="dependency-heading">
                                    {% if dependency.redundancy_group %}
                                        <p>Redundancy Group</p>
                                    {% else %}
                                        <p>Dependency</p>
                                    {% endif %}
                                </div>
                                <div class="dependency-body">
                                    {% if dependency.redundancy_group %}
                                        {% for component in dependency.redundancy_group.redundancy_group_components %}
                                            {% if component.host %}
                                                <a href="/reports/hosts/{{ component.host.id }}" class="btn btn-{{ severities[component.host.health]["class"] }} health-item">
                                                    <strong>{{ component.host.name }}</strong>
                                                    <br>
                                                    {{ severities[component.host.health]["display"] }}
                                                </a>
                                            {% else %}
                                                {% for host in component.host_group.member_hosts %}
                                                    <a href="/reports/hosts/{{ host.id }}" class="btn btn-{{ severities[host.health]["class"] }} health-item">
                                                        <strong>{{ host.name }}</strong>
                                                        <br>
                                                        {{ severities[host.health]["display"] }}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% elif dependency.host_group %}
                                        {% for host in dependency.host_group.member_hosts %}
                                            <a href="/reports/hosts/{{ host.id }}" class="btn btn-{{ severities[host.health]["class"] }} health-item">
                                                <strong>{{ host.name }}</strong>
                                                <br>
                                                {{ severities[host.health]["display"] }}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="/reports/hosts/{{ dependency.host.id }}" class="btn btn-{{ severities[dependency.host.health]["class"] }} health-item">
                                            <strong>{{ dependency.host.name }}</strong>
                                            <br>
                                            {{ severities[dependency.host.health]["display"] }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <style media="screen">
        .health-item {
            width: 200px;
            height: 55px;
            border: 1px grey;
            margin: 5px;
        }
        .dependency-body {
            white-space: normal !important;
            text-align: center;
        }
    </style>
{% endblock %}
