<div class="col-md-4 service-dependency" data-dependency-type="dependency">
    <div class="service-dependency-inner">
        <div class="dependency-heading">
            <p>Dependency</p>
        </div>
        <button type="button" class="btn btn-danger dependency-remove">X</button>
        <div class="dependency-body">
            <p class="dependency-item" data-item-id="{{ id }}" data-item-type="{{ type }}">
                <i class="fa fa-{{ icon }}"></i> {{ name }}</p>
        </div>
    </div>
</div>
