<canvas id="{{ identifier }}" style="width: 100%; height: 400px;"></canvas>

<script type="text/javascript">
    $(document).ready(function() {
        var numLabels = 20;

        var results = {{ results_json|safe }};
        var values = [];
        var labels = [];

        var startTimestamp = null;
        if (results.length > 0) {
            startTimestamp = results[0]["timestamp"];
        }
        var printTimestampEvery = Math.round(results.length / numLabels);
        for (var i = 0; i < results.length; i++) {
            var value = results[i]["value"];

            if (value == null) {
                value = 0;
            }
            previousValue = value;

            values.push(value);
            if (i % printTimestampEvery == 0) {
                var d = new Date(results[i]["timestamp"]*1000);
                var dateString = d.getFullYear() + "-" + d.getMonth() + "-" + d.getDate();
                dateString += " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                labels.push(dateString);
            } else {
                labels.push("");
            }
        }

        var data = {
            labels: labels,
            datasets: [
                {
                    label: "Value",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: values
                }
            ]
        };

        var ctx = $("#{{ identifier }}").get(0).getContext("2d");
        new Chart(ctx).Line(data, {
            bezierCurve: false,
            pointDot: false,
            showTooltips: false,
            scaleStepWidth: 10,
            scaleSteps: 10,
            scaleStartValue: 0,
            scaleOverride: true,
            animation: false,
            scaleShowVerticalLines: false
        });
    });
</script>
